#container{
    display:flex;
}
#navBar{
    
    height:100%;
    width:40%;
    align-items:stretch;
}
#buttonContain{
    background-color:lightgrey;
    height:100%;
    position:fixed;
    display:flex;
    flex-direction:column;
}
#content{
    height:100%;
    width:100%;
    width:70%;
}
#imageContainer{
    width: 200px;
    height:350px;
}
#ranges{
    width:300px;
    display:flex;
    flex-direction:column;
}
#resultatCompression{
    width: 200px;
    height:350px;
}